extends: default

rules:
  line-length:
    max: 120
    level: warning
  
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  
  comments:
    min-spaces-from-content: 1
  
  brackets:
    forbid: false
    min-spaces-inside: 0
    max-spaces-inside: 1
  
  braces:
    forbid: false
    min-spaces-inside: 0
    max-spaces-inside: 1
  
  colons:
    max-spaces-before: 0
    max-spaces-after: 1
  
  commas:
    max-spaces-before: 0
    max-spaces-after: 1
  
  dashes:
    max-spaces-before: 0
    max-spaces-after: 1
  
  dots:
    max-spaces-before: 0
    max-spaces-after: 0
  
  hash:
    min-spaces-before: 1
  
  hyphens:
    max-spaces-before: 0
    max-spaces-after: 1
  
  key-duplicates: enable
  key-ordering: disable
  new-line-at-end-of-file: enable
  new-lines:
    type: unix
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: false
  quoted-strings:
    quote-type: single
    check-keys: false
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']